/* Login.css */
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.btn-login {
    margin-right: 20px;
}
