/* Navbar.css */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon.open .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.menu-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu.open {
    display: block;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.open {
        display: block;
    }
}
