/* App.css */
.App {
  text-align: center;
}

.navbar {
  background-color: #000066;
  color: white;
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.products {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.footer {
  background-color: #232f3e;
  color: white;
  padding: 20px 0;
  width: 100%;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
  .navbar .container {
      flex-direction: column;
      text-align: center;
  }

  .navbar ul {
      margin-top: 10px;
  }

  .navbar ul li {
      display: block;
      margin: 10px 0;
  }

  .products {
      padding: 0 10px;
  }
}
